@font-face {
    font-family:'ClimaconsRegular';
    src: url('./fonts/climacons-webfont.eot');
    src: url('./fonts/climacons-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/climacons-webfont.woff') format('woff'), url('../fonts/climacons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lblLoc{
  text-align: center;
  text-transform: uppercase;
  /*font-family: sans-serif;*/
  font-size:larger;
}

.wConditions{
  display: block;
  margin:0;
  /*height: 78px*/
}

.wConditions div{
  width: 50%;
  float:left;
  text-align: center;
  /*font-family: sans-serif;*/
}

.wConditions div.right{
  background-color: #ccc;
}

#skycon{
  margin: auto;
  display: block;
}
